#btn-submit {
  background: rgb(15,0,255);
  background: -moz-linear-gradient(90deg, rgba(15,0,255,1) 5%, rgba(214,0,211,1) 92%);
  background: -webkit-linear-gradient(90deg, rgba(15,0,255,1) 5%, rgba(214,0,211,1) 92%);
  background: linear-gradient(90deg, rgba(15,0,255,1) 5%, rgba(214,0,211,1) 92%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f00ff",endColorstr="#d600d3",GradientType=1);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 15%;
}

#count-char {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  margin-left: 77%;
  width: 20%;
  color: rgb(255, 0, 0);
}
